

#nav-bar {
  background-color: #00a087;
  height: 80px;
  color: #e8fdff;
  top: fixed;
  width: 100%;
  padding: 0em 2em 0em 2em;
}

#nav-bar .logo {
  height: 80px;
  width: 80px;
  float: left;
}

#nav-bar .header {
color:  #e8fdff;
font-size: 200%;
float: left;
line-height: 200%;
padding: 10px;

}

.compose-button {
  margin-top: 15px;
    float:right;
    color: #00a087;
    border-radius: 2px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: black solid 1px;
    background-color: white;

}

.compose-button:hover {
    background-color: #9cd6c9;
    color: black;
}