
/* new tweets */
section.new-tweet {
  background-color: #eee;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid lightgray;
}

section.new-tweet h2 {
  border-bottom: 2px solid #244751;
  padding-bottom: 4px;
  margin-top: 10px;
}

textarea {
  width: 100%;
  padding: 10px;
}

output {
  color: #244751;
  float: right;
}

.overlimit {
 color: red;
}

/* tweets */
.tw-article {
  padding: 0px;
  border-radius: 5px;
  border: 1px solid lightgray;
  margin-top: 20px;
  opacity: 0.75;
}

.tw-header {
  display: flex;
  align-items: flex-start;
  background-color:#eee;
  margin: 0;
  height: 20%;
  padding: 10px;
  color: gray;
  border-radius: 5px 5px 0px 0px;
}

.tw-h2{
  margin: 0;
  padding-left: 10px;
}

.tw-name{
  margin-left: auto;
}

.tw-p {
  padding: 10px;
}

.tw-footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid lightgray;
  font-size: 0.8em;
  padding: 10px;
  margin: 0;
}

.icons{
  color: teal;
  font-size: 1.5em;
}

.tw-article:hover {
  opacity: 1;
}






